.darkIcon {
  height: 30px;
  width: 30px;
}
.hamBurgerMenu {
  height: 28px;
  width: 28px;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .hamBurgerMenu {
    display: none;
  }
}
.logButton {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .logButton {
    display: none;
  }
}

.popup-content {
  width: 10%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: none;
}

.logo {
  width: 50%;
  height: 30px;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 100%;
  }
}
